*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header{
    position: fixed;
    background-color: #000;
    top: 0;
    right: 0;
    left: 0;
    height: 46.5px;
    z-index: 1;

}

#nav{
    display: inline-block;
}

#nav > li {
    display: inline-block;
    margin: 0 -2.5px;
}
#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;    
    text-transform: uppercase;
}

#nav > li:hover > a
{
    color: #000;
    background-color: #ccc;
}


#nav li a {
    display: block;
    text-decoration: none;
    line-height: 46.5px;
    padding: 0 24px;

}

#alltable{
    margin: 50px auto;
    width: 50%;
    border-collapse: collapse;
    position: relative;
    font-family: 'Arial', sans-serif;
    text-align: center;
}
#thead{
    font-size: 20px;
    color: #1a73e8;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
}
#tr1{
    color: #d93025;
}
#tr2{
    color: #000;
}
#tr3{
    color: #d93025;
}
#tr5{
    color: #d93025;
}
#tfoot{
    font-size: 20px;
    color: #1a73e8;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
}
#alltable tr:hover {
    background-color: #f1f3f4;
}
#nameform{
    margin-left: 10%;
    font-size: 24px;
    color: #d93025;
    text-transform: uppercase;
}
#formmain{
    margin-left: 12px;
}
label{
    font-size: 16px;
    color: #d93025;
}
input, #message{
    width: 30%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
    transition: border 0.3s;
}

.btn{
    width: 30%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn:hover{
    color: #0056b3;
}